{% extends "boilerplate.html" %}
{% block main %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes flex" style="flex-direction: column; background-color: white;" id="e-message-container">
            {% for category, message in messages %}
                {% if category == "e-message" %}
                    <div class="e-message" class="flex">
                        <p>{{message}}</p>
                    </div>
                {% endif %}
                {% if category == "s-message" %}
                    <div class="s-message" class="flex">
                        <p>{{message}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<div id="contact">
    
    <div>
        <h1 style="font-size: 2.5em;text-align: center;">Contact</h1>
        <p style="font-size: 1em;">You can contact us by filling the form below, Thank You!</p>
    </div>
    <form id="contact-form" method="post">
        <input type="email" id="email" name="email" placeholder="your email" required>
        <textarea id="message" name="message" placeholder="enter message here..." required></textarea>
        <input id="submitHelp" type="submit" value="Submit">
    </form>
</div>
{% endblock %}